#previewbar {
    overflow: visible;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
	pointer-events: none;
	
	height: 100%;
	transform: scaleY(0.6) translateY(-30%) translateY(1.5px);
	z-index: 40;
}

.previewbar {
	display: inline-block;
	height: 100%;
}

.popup {
    z-index: 10;
    width: 100%;
    height: 500px;
}

.smallLink {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.playerButtonImage {
	height: 60%;
	top: 0;
	bottom: 0;
	display: block;
	margin: auto;
}

.playerButton {
	vertical-align: top;
}

.sponsorSkipObject {
	font-family: Roboto, Arial, Helvetica, sans-serif;
		
	margin-left: 2px;
	margin-right: 2px;
}

.sponsorSkipLogo {
	height: 18px;

	float: left;
}

@keyframes fadeIn {
	from { opacity: 0; }
	  to { opacity: 1; }
}

.sponsorBlockSpacer {
	background-color: rgb(100, 100, 100);
	border-color: rgb(100, 100, 100);

	margin-left: 5px;
}

.sponsorSkipNotice {
    min-width: 280px;
    background-color: rgba(28, 28, 28, 0.9);
    position: absolute;
	right: 5px;
	bottom: 100px;
	right: 10px;

	border-radius: 5px;

	animation: fadeIn 0.5s;

	border-spacing: 5px 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.sponsorSkipNoticeTimeLeft {
	color: #eeeeee;

	border-radius: 4px;
    padding: 2px 5px;
    font-size: 12px;

	border: 1px solid #eeeeee;
}

/* if two are very close to eachother */
.secondSkipNotice {
	bottom: 250px;

  	transition: bottom 0.2s;
}

.sponsorSkipNoticeUnskipSection {
	float: left;

	border-left: 1px solid rgb(150, 150, 150);
}

.sponsorSkipNoticeCloseButton {
	height: 10px;
    width: 10px;
}

.sponsorSkipNoticeButton {
	background: none;
	color: rgb(235, 235, 235);
	border: none;
	display: inline-block;

	cursor: pointer;

	margin-right: 10px;
}

.sponsorSkipNoticeRightSection {
    right: 0;
	position: absolute;

	float: right;

	margin-right: 5px;
}

.sponsorSkipNoticeRightButton {
    margin-left: 7px;
	padding: 0px;
}

.sponsorSkipMessage {
	font-size: 14px;
	font-weight: bold;
	color: rgb(235, 235, 235);
	
	display: inline-block;
}

.sponsorSkipInfo {
	font-size: 10px;
    color: #000000;
	text-align: center;
	margin-top: 0px;
}

#sponsorTimesThanksForVotingText {
	font-size: 20px;
	font-weight: bold;
    color: #000000;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
}

#sponsorTimesThanksForVotingInfoText {
	font-size: 12px;
	font-weight: bold;
    color: #000000;
	text-align: center;
	margin-top: 0px;
}

.sponsorTimesVoteButtonMessage {
	float: left;
}

.sponsorTimesInfoMessage {
	font-size: 13.3333px;
    color: rgb(235, 235, 235);
	text-align: center;
}

.voteButton {
	height: 17px;
	cursor: pointer;
}
.voteButton:hover {
	filter: brightness(80%);
}

.submitButton {
	background-color:#ec1c1c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d31919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:4px 15px;
	text-decoration:none;
    text-shadow:0px 0px 0px #662727;
    
    margin-top: 5px;
    margin-right: 15px;
}
.submitButton:hover {
	background-color:#bf2a2a;
}

.submitButton:focus {
	outline: none;
	background-color:#bf2a2a;
}

.submitButton:active {
	position:relative;
	top:1px;
}

@keyframes rotate {
	from { transform: rotate(0deg); }
	  to { transform: rotate(360deg); }
}

.sponsorSkipButton {
	background-color:#ec1c1c;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #d31919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:4px 15px;
	text-decoration:none;
    text-shadow:0px 0px 0px #662727;
    
    margin-top: 5px;
    margin-right: 15px;
}
.sponsorSkipButton:hover {
	background-color:#bf2a2a;
}

.sponsorSkipButton:focus {
	outline: none;
	background-color:#bf2a2a;
}

.sponsorSkipButton:active {
	position:relative;
	top:1px;
}

.sponsorSkipDontShowButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.sponsorSkipDontShowButton:hover {
	background-color:#bc3315;
}

.sponsorSkipDontShowButton:focus {
	outline: none;
	background-color:#bc3315;
}

.sponsorSkipDontShowButton:active {
	position:relative;
	top:1px;
}