:root {
  --sb-main-bg-color: #222626;
  --sb-main-fg-color: white;
  --sb-gray-fg-color: #444848;
  --sb-on-white-bg: black;
  --sb-green-bg: #077B27;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  #sponsorBlockPopupBody {
    width: 100%; 
  }
}

#sponsorBlockPopupBody {
  margin: auto; 
  width: 374px; 
  background: var(--sb-main-bg-color);
}

#sponsorblockPopup {
  color: var(--sb-main-fg-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 330px;
  padding: 22px;
  text-align: center;
}

#issueReporterTimeButtons > .votingButtons > .segmentTimeButton {
  font-weight: bold;
  color: var(--sb-main-fg-color);
  background: none;
  border: none;
  padding: 7px;
  outline: none;

  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.sponsorTimesThanksForVotingText {
  font-size: large;
}

.voteButton {
  height: 20px;
  padding: 0 5px;

  cursor: pointer;
}

#videoInfo>p, #videoInfo>div>p {
  margin: 0;
}

div.logoText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: var(--sb-main-fg-color);
}

div.logoText>p, .sbHeader {
  font-size: 32px;
  margin: -4px 0 -2px;
  font-weight: bold;
}

.sbHeader.sbSubHeader {
  font-size: 20px;
}

.largeButton{
  background: white;
  /*font-weight: bold;*/
  padding: 6px 24px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  color: black;
  min-height: 26px;
  min-width: 152px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Source Sans Pro', sans-serif;
}

.sponsorBlockPageBody .mediumButton {
  background-color:#cc1717;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border: none;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:16px;
  padding:8px 37px;
  text-decoration:none;
  text-shadow:0px 0px 0px #662727;
  font-family: 'Source Sans Pro', sans-serif;

  transition: 0.01s background-color;
}
.sponsorBlockPageBody .mediumButton:hover {
  background-color:#ec1c1c;
}
.sponsorBlockPageBody .mediumButton:focus {
outline: none;
background-color:#ec1c1c;
}
.sponsorBlockPageBody .mediumButton:active {
  position:relative;
  top:1px;
}

/* disable extension */

#disableExtension {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/* switch button */

.toggleSwitchContainer {
  display: flex;
  cursor: pointer;
}

.switchBg {
  display: block;
  height: 37px;
  width: 78px;
  border-radius: 18.5px;
}

.switchBg.shadow {
  background: none;
  box-shadow: 0.75px 0.75px 10px 0px rgba(50, 50, 50, 0.5);
  opacity: 1;
}

.switchBg.white {
  position: absolute;
  background: white;
  opacity: 1;
}

.switchBg.green {
  position: absolute;
  background: #00a205;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.switchDot {
  width: 25px;
  height: 25px;
  margin: 6px;
  background: white;
  position: absolute;
  border-radius: 12.5px;
  box-shadow: .75px .75px 3.8px 0px rgba(50, 50, 50, 0.45);
  transition: transform .2s ease-out;
}

.preload * {
  transition: none !important;
}

#toggleSwitch:checked~.switchDot {
  transform: translateX(40px);
}

#toggleSwitch:checked~.switchBg.green {
  opacity: 1 !important;
}

#toggleSwitch:checked~.switchBg.white {
  opacity: 0 !important;
  transition: opacity .2s step-end;
}

.sidebyside {
  display: flex;
  flex-flow: row nowrap;
  width: 88%;
  margin: 0 6% 0 6%;
}

.sidebyside>div {
  width: 50%;
  justify-content: center;
}

#whitelistButton, #sponsorTimesSkipsDoneContainer, .toggleSwitchContainer {
  margin-bottom: 2px !important;
}

#whitelistForceCheck {
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
  cursor: pointer;
  padding: 10px 0;
}

.sbHeader {
  margin-bottom: 5px !important;
}

.logoText {
  margin-bottom: 6px !important;
}

#videoInfo, #mainControls, .sidebyside, #sponsorTimesSkipsDoneContainer, .largeButton {
  margin-bottom: 12px !important;
}
#mainControls{
  flex-flow: column;
  align-items: center;
}
#submitTimesContainer{
  flex-flow: column;
  align-items: center;
}
/* additional buttons */

#additionalButtons {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#additionalButtons>button, button#setUsernameButton, #submitUsername {
  background: none;
  border: none;
  color: white;
  width: fit-content;
  padding-left: 0;

  cursor: pointer;
}

#submitUsername {
  padding-left: 5pt;
}

#additionalButtons, #additionalButtons>button {
  font-size: 15px;
}

#usernameValue, #usernameInput, #sponsorTimesContributionsDisplay{
  font-size: 16px;
}

.SBWhitelistIcon {
  min-width: 16px;
  min-height: 16px;
  margin-top: auto;
  margin-bottom: auto;

  height: 100%;
}

.SBWhitelistIcon>path {
  fill: var(--sb-main-fg-color);
}

label>p, #disableExtension>p, #usernameValue, #usernameElement > div > p,#sponsorTimesContributionsContainer > div > p, #usernameElement > div > #setUsername > #setUsernameStatusContainer > p {
  margin: 0;
}

#usernameElement > div > p, #sponsorTimesContributionsContainer {
  text-align: start;
}

.grayedOut>.SBWhitelistIcon>path {
  fill: var(--sb-gray-fg-color);
}

.grayedOut>label {
  color: var(--sb-gray-fg-color);
}

.SBWhitelistIcon.rotated {
  transform: rotate(45deg);
}

.SBWhitelistIconContainer, button#optionsButton {
  display: flex;
  align-items: center;
}

.SBWhitelistIconContainer, button#optionsButton>img, .logoText>img, #usernameValue {
  margin-right: 8px;
}

#whitelistButton>label, #additionalButtons>button, div#setUsernameContainer {
  display: flex;
  flex-flow: row nowrap;
}

#whitelistButton>label, #additionalButtons>button, div#setUsernameContainer>button {
  cursor: pointer;
}

#usernameElement > div, #sponsorTimesContributionsContainer > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.sidebyside > #usernameElement, .sidebyside > #sponsorTimesContributionsContainer {
  display: flex;
  align-items: center;
}

#usernameValue{
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 130px;
}

#setUsername {
  display:flex;
}

#usernameInput {
  background: none;
  padding: 0;
  border: white 1px solid;
  color: var(--sb-main-fg-color);
  width: calc(100% - 24px);

  text-overflow: ellipsis;
}

#setUsername.SBExpanded {
  width: 200%;
}

/* footer */

#sbFooter > a {
  color: var(--sb-main-fg-color);
  text-decoration: none;
}

#showNoticeAgain {
  margin-top: 30px;

  color: var(--sb-main-fg-color);
  background: none;
  border: 1px solid white;
  cursor: pointer;
  padding: 5px;

  border-radius: 5px;
}
