/* reset some properties to default (youtube messes with them */
p.popupElement {
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

h1.popupElement {
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2.popupElement {
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

h3.popupElement {
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

sub.popupElement {
	font-size: smaller;
}
/* end reset */

#sponsorBlockPopupLogo {
	vertical-align: text-bottom;
}

.logoText {
	color: white;
}

h1.popupElement {
	margin-top: 0px;
	margin-bottom: 10px;
}

.popupBody {
	font-size: 14px;
	background-color: #333;
	padding: 0px 5px;

	font-family: 'Source Sans Pro', sans-serif;

	color: #dddddd;
}

.outerPopupBody {
	background-color: #222626;
	overflow-y: scroll;
}

.discreteLink.popupElement {
	color: #dddddd;
}

.recordingSubtitle.popupElement {
	margin-bottom: 10px;
}

.voteButton.popupElement {
	height: 32px;
	margin-right: 15px;
	cursor: pointer;
}
.voteButton:hover.popupElement {
	filter: brightness(80%);
}

#discordButtonContainer.popupElement {
	font-size: 12px;
}

.sponsorTime.popupElement {
	font-size: 20px;
}

.smallLink.popupElement {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.mediumLink.popupElement {
	font-size: 15px;
	margin-left: 25px;
	margin-right: 25px;
	text-decoration: underline;
	cursor: pointer;
}

.tinyLink.popupElement {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.whitelistButton.popupElement {
	background-color:#27a52d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:8px 37px;
	text-decoration:none;
	text-shadow:0px 0px 0px #27663c;

	transition: 0.01s background-color;
}
.whitelistButton:hover.popupElement {
    background-color:#3acc3a;
}
.whitelistButton:focus.popupElement {
    outline: none;
    background-color:#3acc3a;
}
.whitelistButton:active.popupElement {
    position:relative;
    top:1px;
}

.greenButton.popupElement {
    background-color:#cc1717;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border: none;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding:8px 37px;
    text-decoration:none;
	text-shadow:0px 0px 0px #662727;
	
	transition: 0.01s background-color;
}
.greenButton:hover.popupElement {
    background-color:#ec1c1c;
}
.greenButton:focus.popupElement {
	outline: none;
	background-color:#ec1c1c;
}
.greenButton:active.popupElement {
    position:relative;
    top:1px;
}

.dangerButton.popupElement {
	background-color:#bc3315;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.dangerButton:hover.popupElement {
	background-color:#d0451b;
}
.dangerButton:focus.popupElement {
	outline: none;
	background-color:#d0451b;
}
.dangerButton:active.popupElement {
	position:relative;
	top:1px;
}

.warningButton.popupElement {
	background-color:#bc8215;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #856829;
}
.warningButton:hover.popupElement {
	background-color:#d0821b;
}
.warningButton:focus.popupElement {
	outline: none;
	background-color:#d0821b;
}
.warningButton:active.popupElement {
	position:relative;
	top:1px;
}

.smallButton.popupElement {
	background-color:#f9902d;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #f9a72d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:6px 10px;
	text-decoration:none;
}
.smallButton:hover.popupElement {
	background-color:#fa9806;
}
.smallButton:focus.popupElement {
	outline: none;
	background-color:#fa9806;
}
.smallButton:active.popupElement {
	position:relative;
	top:1px;
}